@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
/* Mobile */
@media only screen and (max-width:599px) {
body {
	grid-template-columns: 1fr;
}
header {
	text-align: center;
}
.appName {
	font-size: 1.5em;
}

#compName {
	font-size: 1.3em;
}

#loginForm {
	width: 100%;
	height: 100%;
}
	
.hide_show {
	display: none;
}

.icon {
	text-align: center;
}

	
aside {
	width: 100%;
	
	overflow: hidden;
	grid-column-start: 1;
	grid-column-end: 2;
}	

.icon:hover .navUP{
	height: 280px;

}
.navUp {
	height: 40px;
	transition: all .4s linear;
}
.navDown {
	height: 340px;
}

nav ul {
	margin: 0;
	
}
main { 
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 2;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	min-height: 350px;
}


}
/* Tablet */
@media only screen and (min-width:600px) and (max-width:1023px) {
body {
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

#loginForm {
	width: 65%;
	height: 50%;
	margin: auto;
}
	
.hide_show {
	display: none;
}
nav ul {
	width: 100%;
	display: grid;
	margin: 0;
	grid-template-columns: repeat(7, 1fr);
}
.icon {
	display: none;
}
nav ul li {
	margin: 0;
}

aside {
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 2;
	background-color: #2F77B1;
	margin: 0;
	text-align: center;
}

main { 
	width: 100%;
	min-height: 600px;
	grid-column-start: 1;
	grid-column-end: 2;
	display: grid;
	grid-template-columns: 1fr;
	
	justify-content: center;
	
}

}
/* Desktop */
@media only screen and (min-width:1024px) {
body {
	grid-template-columns: 15% 1fr;
}

#loginForm {
	width: 50%;
	height: 50%;
}


aside {
	height: 600px;
	background-color: #2F77B1;
	margin: 0;
	padding: 5px;
	float: left;
	text-align: center;
}

nav ul li {
	margin: 5px;
}

.icon {
	display: none;
}

main { 
	display: grid;
	grid-template-columns: 1fr;
	height: 600px;
	justify-content: center;
	overflow-y: scroll;
	
}


}

/* Common Properties */
body {
	font-family: 'PT Sans Narrow', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	display: grid;
}

header {
width: 100%;
grid-column-start: 1;
grid-column-end: 3;
background-color: #175383;
margin: 0;
color: white;
}

h1, h2 { 
	margin: 0;
	padding: 5px;}

nav {
width: 100%;
}

nav ul {
	list-style-type: none;
	padding: 0;
	align-items: center;
	text-align: center;
}

nav ul li {
	padding: 5px;
	height: 2em;
	color: white;
	background-color: #CC6600;
	cursor: pointer;
	align-items: center;
}

nav ul li:hover {
	background-color: #CC8E00;
}

nav ul li a {
	display: block;
	height: 100%;
	width: 100%;
	color: white;
	font-size: 1.3em;
	text-decoration: none;
	align-items: center;
}

aside p {
	margin: 0;
	color: white;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	align-items: start;
	
}

main section {
	margin: 10px;
}

footer {
	background-color: #175383;
	width: 100%;
	height: 50px;
	float: left;
	margin: 0;
	color: white;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 3;
}

footer p {
	font-size: .8em;

}

/* Login Form */
#loginSection, #signSection {
position:  absolute;
display: grid;
grid-template-columns: 1fr;
align-items: center;
justify-content: center;
top: 0;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.8);
}

#loginForm, #signForm {
	text-align: center;
	margin: auto;
	background-color: white;
	box-shadow: 2px 3px 5px #333;
	
}

#loginForm img, #signForm img {
	display: block;
	align-self: stretch;
	justify-self: stretch;
	margin-top: 10%;	
	margin-left: auto;
	margin-right: auto;
	width: 75px;
}
	
#loginForm label, #signForm label {
	display: block;
	font-size: 1.3em;
	padding: 5px;
}

input {
	font-size: .8em;
}


#loginForm a, #signForm a {
	display: block;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 8px;
	color: white;
	font-size: 1.2em;
	text-decoration: none;
	background-color: #CC6600;
	cursor: pointer;
	align-items: center;
}

#errorM {
	color: red;
	font-size: .8em;
}

/* } */

main a {
	margin-top: 10px;
	padding: 8px;
	color: white;
	font-size: 1.2em;
	text-decoration: none;
	background-color: #CC6600;
	cursor: pointer;
	align-items: center;
}