/* Media Queries */
@media only screen and (max-width:599px) {

}

@media only screen and (min-width:600px) and (max-width:1023px) {
	
}

@media only screen and (min-width:1024px) {
	/*Reports Section */
	#reportsSection {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

/* Media Queries Ends */


/* Home Page */
#homeSection {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 600px;
margin: 0;
padding: 15px;
}


/* Tables */
table {
    border-collapse: collapse;
	width: 100%;
	text-align: center;
}

th, td {
	height: 35px;
}

th {
	background-color: #707070;
	color: white;
}
table, th, td {
    border: 1px solid black;
}

tr:nth-child(odd) {background-color: #D8EBFA;}

tr:hover {background-color: #AFADEE}

/* New Forms */
#addCustomerSection label, #addMovieSection label{
	display: block;
	font-size: 1.3em;
	padding: 5px;
}

#addCustomerSection input, #addMovieSection input{
	font-size: .8em;
}

main label {
	display: block;
	font-size: 1.2em;
	padding: 5px;
}

main input {
	font-size: .6em;
}

#aboutSection {
	text-align: center;
}

.left {
	margin-bottom: 10px;
	margin-right: 10px;
}

/* Reports Section */
.headings {
	grid-column-start: 1;
	grid-column-end: 3;
}

/* Rentals */
#rentalSection {
	font-size: 1.3em;
}

#tomorrow {
	font-style: bold;
	color: red;
}